.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    
    .navigation {
        display: grid;
        grid-template-columns: 15px repeat(6, 1fr) 15px;
        padding: 20px 0;
        border-bottom: 1px solid darkgray;

        @media(max-width: 700px){
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .logo {
            grid-column-start: 1;
        }

        .nav-items {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            grid-column-start: 4;
            grid-column-end: -1;

            @media(max-width: 700px){
                padding-top: 1.5rem;
                width: 100%;
                justify-content: space-evenly;
            }

            .nav-item {
               text-decoration: none;
               color: black;
               font-size: 1.7rem;
               padding-top: 0.7rem;

               @media(max-width: 700px){
                   font-size: 1.2rem;
               }
            }
        }
    }

    .header {
        display: grid;
        grid-template-columns: 15px repeat(2, 1fr) 15px;
        grid-template-rows: repeat(4, lr);
        padding: 2rem 0;
        grid-column-gap: 3px;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid darkgray;

        img {
            width: 100%;
            height: auto;
            object-fit: fill;
            border-radius: 1rem;
            grid-column-start: 1;
            grid-column-end: -1;
            grid-row-start: 1;
            grid-row-end: 2;

        }

        .header-title {
            padding: 3rem 0 2rem 0;
            grid-column-start: 1;
            grid-column-end: -1;
            text-align: center;
            font-size: 4rem;
            font-weight: bold;

            @media(max-width: 700px){font-size: 3rem}
            @media(max-width: 700px){font-size: 2.4rem}
        }

        .header-content {
            font-size: 2rem;
            grid-column-start: 2;
            grid-column-end: -2;
            grid-row-start: 4;
            grid-row-end: 5;
            text-align: center;

            @media(max-width: 700px){font-size: 1.7rem}
            @media(max-width: 400px){font-size: 1.4rem}
            
        }
    }

    .bottom-content {
        background: green;
    }

    .footer {
        background: blue;
    }
}